body{

width:100%;

height:100%;

color:#03a1fc;

background-color:#fff;

justify-content:center;

background-image: url(bg2.png);

background-size: cover;
}

.main{

margin-left: 600px;

width: 350px;

height:550px;

padding:60px 35px 35px 35px;

border-radius:20px;

background-color:#fff;

font-family:sans-serif;

font-weight:700;

}

.logo{

background-image:url("logo.png");

width:140px;

height:140px;

margin:-50px 75px;

border-radius:50%;

}



.title{

text-align:center;

font-size:28px;

color:#555;

letter-spacing:.5px;

margin:35px;

}

.credentials{

width:100%;

padding:2px 5px 0px 5px;

}

.credentials input{

border:none;

outline:none;

background:none;

font-size:18px;

color:#555;

padding:20px 10px 20px 5px;

letter-spacing: 1px;

}

.username{

margin-bottom:20px;

border-bottom:2px solid #c2c4c3;

transition:.5s ease;

}

.username:hover{

border-bottom:3px solid #03a1fc;

}

.password{

margin-bottom:30px;

border-bottom:2px solid #c2c4c3;

transition:.5s ease;

}

.password:hover{

border-bottom:3px solid #03a1fc;

}

.submit{

outline:none;

border:none;

width:100%;

height:60px;

border-radius:30px;

color:#fff;

font-size:20px;

font-weight:700;

text-align:center;

background-image:linear-gradient(to right, #56c1ff, #28adfa, #03a1fe);

background-size:200%;

box-shadow: 3px 3px 8px #b1b1b1,

-3px -3px 8px #fff;

transition:.5s;

}

.submit:hover{

background-position:right;

}

.link{

margin:10px;

text-align:center;

}

.link a{

color :#aaa;

font-size:15px;

text-decoration:none;

}